<div class="container">
  <h1>Cocktails(<%= @cocktails.count %>)</h1>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="card">
        <% @cocktails.each do |cocktail| %>
          <p><%= link_to cocktail.name, cocktail_path(cocktail) %>  <%= link_to "[ DELETE ]", cocktail_path(cocktail), method: :delete %></p>
        <% end %>
      </div>
    </div>
  </div>

  <%= link_to "Create a new Cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
