.jumbotron {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VBRVHv3De/drunk-man-sleep-with-the-head-over-the-bar_vxyyezgtl__F0000.png") !important;
  background-size: cover;
  background-position: center;
  height: 450px;
  display: flex;
  align-items: center;
}

.injumbo {
  margin: 0 auto;

  h1 {
    font-family: 'Pacifico', cursive;
    font-size: 110px;
    color: white;
  }
}
